
<h1>Listing favtweets</h1>

<table>
  <tr>
    <th>Screen name</th>
    <th>Full text</th>
    <th>Contenthash</th>
    <th>Timestamp</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @favtweets.each do |favtweet| %>
  <tr>
    <td><%= favtweet.screen_name %></td>
    <td><%= favtweet.full_text %></td>
    <td><%= favtweet.contenthash %></td>
    <td><%= favtweet.timestamp %></td>
    <td><%= link_to 'Show', favtweet %></td>
    <td><%= link_to 'Edit', edit_favtweet_path(favtweet) %></td>
    <td><%= link_to 'Destroy', favtweet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Favtweet', new_favtweet_path %>